body {
	background-color: navy;
	background-image: url("https://img.championat.com/news/big/k/b/usman-dembele_1542305844392416962.jpg");
	background-repeat: no-repeat;
  background-size: 100%;
  background-position: fixed;
}

#menu {

}

#menu ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#menu ul li {
	float: left;
}

#menu ul li a {
	display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu ul li a:hover:not(.active) {
	background-color: #111;
}

.active {
  background-color: darkslateblue;
  border-radius: 30px;
}

.active:hover {
	background-color: darkviolet;
}

/*authentification*/


.aut {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid mediumslateblue;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: indigo;
  color: gold;
}

#sub {
  width: 100%;
  background-color: slateblue;
  color: gold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#sub:hover {
  background-color: darkviolet;
}

#authentification {
  border-radius: 5px;
  background-color: midnightblue;
  padding: 20px;

  width: 350px;
  height: 170px;
  margin: auto;
  margin-top: 170px;
}


.coll-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.coll-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.lab {
	padding-top: 10px;
  color: gold;
}



