body {
	background-color: white;
}

/*menu*/

#menu ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#menu ul li {
	float: left;
}

#menu ul li a {
	display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  outline: none;
}

#menu ul li a:hover {
	background-color: #111;
}

/*search*/

#search_content {
  height: 50px;
  margin-top: 3px;
}

.search_input {
  width: 200px;
  padding: 15px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

.a {
  float: left;
}

.s {
  width: 200px;
  padding: 14px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

/*add video button*/

#add_video {
  display: block;
  margin-top: 200px;
  margin-left: 43%;
}

#add_button {
  width: 200px;
  height: 70px;
  border-radius: 5px;
  background-color: #333;
  font-size: 20px;
  color: white;
}

/*authentification*/

.aut {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  text-decoration-color: black;
}

#sub {
  width: 100%;
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
}

#sub:hover {
  background-color: white;
}

#authentification {
  border-radius: 5px;
  background-color: lightgray;
  padding: 20px;

  width: 350px;
  height: 170px;
  margin: auto;
  margin-top: 170px;

  box-shadow: 0 0 5px black;
}

.coll-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.coll-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.lab {
	padding-top: 10px;
  color: black;
}

